@page "/scrape"
@using DataLibrary.DbAccess
@using DataLibrary.DbServices
@using DataLibrary.Models
@using DataLibrary.Services
@inject IRealPropertySearchScraper scraper
@inject IDataContext dataContext
@inject IAddressDataServiceFactory addressDataServiceFactory

<div class="row mb-3 mt-3">
    <div class="container">
        <div>
            <p>Click Once</p>
            <button class="btn btn-danger" type="submit" @onclick="ScrapeSDAT">Scrape</button>
            @*<button class="btn btn-danger" type="submit" @onclick="CloseApp">CloseApp</button>*@
        </div>
    </div>
    <div class="container">
        <div>
            <p>View the console window for progress related to the scrape.</p>
            <p>When you need to close the app, simply close the console window.</p>
        </div>
    </div>
</div>

@code {
    private async Task ScrapeSDAT()
    {
        List<AddressModel> chromeAddressList;
        List<AddressModel> edgeAddressList;
        using (var uow = dataContext.CreateUnitOfWork())
        {
            var addressDataService = addressDataServiceFactory.CreateAddressDataService(uow);
            chromeAddressList = await addressDataService.ReadAddressTopAmountWhereIsGroundRentNull();
        }
        using (var uow = dataContext.CreateUnitOfWork())
        {
            var addressDataService = addressDataServiceFactory.CreateAddressDataService(uow);
            edgeAddressList = await addressDataService.ReadAddressNextAmountWhereIsGroundRentNull();
        }
        await scraper.AllocateWebDrivers(chromeAddressList, edgeAddressList);
        Console.WriteLine("Scrape complete.");
    }
    private void CloseApp()
    {
        // Todo
    }
}
